@import url(../fonts/fonts.css);

body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'monument_extultbold' !important;
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 1;
  }
  
  * {
    box-sizing: inherit;
  }
