@import url(../fonts/fonts.css);
body {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "monument_extreg" !important;
  font-size: 16px;
  letter-spacing: 2.5px;
  line-height: 1;
}
body p {
  font-family: "interreg" !important;
}

* {
  box-sizing: inherit;
}

.desktop-nav {
  width: 100%;
  position: fixed;
  background-color: #212127;
  font-size: 0.7rem;
  z-index: 10;
  font-family: "interreg" !important;
  font-weight: 900 !important;
  margin: 0;
  padding: 0;
}
.desktop-nav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.desktop-nav nav div {
  display: flex;
  align-items: center;
}
.desktop-nav nav div ul li a {
  overflow: hidden;
}
.desktop-nav nav div ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  margin: 0;
  left: 0;
  width: 0;
  bottom: -0.5rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.desktop-nav nav div ul li a:hover::after, .desktop-nav nav div ul li a:focus::after {
  opacity: 1;
  width: 100%;
}
.desktop-nav nav ul {
  list-style: none;
}
.desktop-nav nav ul li {
  display: inline-block;
  text-decoration: none;
  margin-left: 2rem;
}
.desktop-nav nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
.desktop-nav nav .login-btn li:last-child {
  background-color: #325eff;
  padding: 0.5rem 1.75rem;
  border-radius: 2px;
}

.main-view {
  position: relative;
}
.main-view .banner {
  padding-top: 1px;
  display: grid;
  grid-template-areas: "textblock imageblock";
  grid-template-columns: 55% 45%;
  column-gap: 28px;
  padding-right: 32px;
  background: url(./Banner_background.png);
  background-color: black;
  background-size: 80%;
  background-position: left center;
  padding-bottom: 7rem;
}
.main-view .banner .textblock {
  grid-area: textblock;
  margin: 0 10rem;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-view .banner .textblock header {
  background-color: transparent;
  max-width: 480px;
}
.main-view .banner .textblock header h1 {
  font-size: 4rem;
}
.main-view .banner .textblock header::after {
  position: absolute;
  top: 6rem;
  left: 30rem;
  content: url(./Asterisk_short.png);
  transform: scale(0.6);
  color: white;
}
.main-view .banner .textblock .profile-icons {
  margin-top: 20px;
  justify-self: flex-start;
  align-self: initial;
}
.main-view .banner .textblock .profile-icons img {
  margin-left: -10px;
}
.main-view .banner .textblock .profile-icons img:first-child {
  margin-left: 0;
}
.main-view .banner .imageblock {
  justify-self: center;
  align-self: center;
  background-color: transparent;
}
.main-view .button-link {
  text-decoration: none;
  color: white;
  background-color: #325eff;
  padding: 0.75rem 1.75rem;
  border-radius: 2px;
  width: 50%;
  text-align: center;
}
.main-view .offering {
  background-color: black;
  border: 5px white solid;
  width: 85%;
  position: absolute;
  bottom: -12.5%;
  left: 7.5%;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  height: auto;
}
.main-view .offering ul {
  padding: 0 0 1rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-content: center;
  text-align: center;
}
.main-view .offering ul li {
  transition: all 0.2s linear;
}
.main-view .offering ul li a {
  text-decoration: none;
  color: white;
}
.main-view .offering ul li:hover {
  transform: scale(1.1);
}
.main-view .offering ul li p {
  font-family: "interreg" !important;
  font-weight: 800;
  margin: 0;
  padding-top: 2rem;
}
.main-view .offering ul li h4 {
  margin: 0 0 1rem;
  font-size: 2rem;
}
.main-view .offering ul li:last-child img {
  margin-top: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
